/* 通配选择器 */
* {
	margin: 0;  /* 清除内边距 */
	padding: 0; /* 清除外边距 */
}
/* 标签选择器 */
h1 {
	width: 960px;
	height: 40px;
	margin: 0px auto; /* # 居中并且取消间距 */
}
/* 类选择器	 */
/* 所有属性相同的标签颜色都一样 */
.a {
	background-color: aqua;
}
.b {
	background-color:red
}
.c {
	background-color: burlywood;
}
.d {
	background-color: darkgrey;
}	
.e {
	background-color: darkcyan;
}
.f {
	background-color: green;
}
.g {
	background-color: dodgerblue;
}
.h {
	color: blue;		/* 文字颜色 */
	text-align: center;  /* 文字居中 */
	width:100px;       /* 宽度不够自动换行 */
	height: 45px;    
	overflow: scroll;  /* hidden:超出部分自动隐藏    scroll:超出部分滚动显示*/
}
.big {
	font-size: 32px;
}
.normal {
	18px
}
.small {
	10px
}
/* id选择器  #+id  唯一标识符，只能一个用*/
/*   相同渲染效果用，隔开   */
#header, #footer {
	width: 50rem;
	height: 7.5rem;
	border: 0.125rem solid red;  /* 区域 */
	margin: 0 auto;
	text-align: center;
}